@{
    ViewBag.Title = "Recommendations";
}
@Styles.Render("~/Content/style.css")
@using (Html.BeginForm())
{
   
         @Styles.Render("~/Content/style.css")
<h4 id="Title">Commentaries</h4>
<div id="recommendations" >  
    <p>
            <button id="newRecomendation">New Recomendation</button>
        </p>     
        @foreach (var item in ViewBag.comentarios)
        {   
            
            <div id="recommend">        
                <h6  >Nombre:  @item.Nombre<br /><br />Fecha:  @item.Fecha<br /><br />Telefono: @item.Telefono<br /><br />
                    Correo Electronico: @item.CorreoElectronico<br /><br />Comentario: @item.Cometario</h6>
                               
            </div>   <br />  
        }
    

    </div> 
    <script type="text/javascript">
        $("#BtnEnviar").click(function () {
           
          
            $.ajax({
                url: '/Home/Recomendations',
                type: '',
                data: { },
            })        
    });
</script>

}